# .dockerignore

# Archivos de sesión (se manejarán con volúmenes, no deben estar en la imagen)
sessions/

# Dependencias locales que Docker instalará por su cuenta
node_modules

# Archivos de logs y de entorno
npm-debug.log
.env

# Metadatos del sistema de control de versiones y del editor
.git
.gitignore
.vscode